/* ========= INFORMATION ============================
	- document:  WP Coder!
	- author:    Dmytro Lobov 
	- url:       https://wow-estore.com/
==================================================== */
input[type=radio] {
  display: none;
}


input[type=radio]:nth-child(5) {
  margin-right: 0px;
}

input[type=radio]:checked {
  opacity: 1;
}



.products-slider-container01{
    position: relative;
    padding: 50px 0px;
    background: #EAEDEF;
}

.slider02 .product-slider-item{
    padding: 20px;
    height: 100%;
    position: relative;
}

.slider02 .product-slider-item .product-layout{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.slider02 .product-slider-item .left-col{
    padding: 50px;
}

.slider02 .product-slider-item .category a{
    color: #4677AB;
    font-size: 25px;
    font-weight: 300;
    text-decoration: none
}

.slider02 .product-slider-item .title{
    font-weight: bold;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn.btn-theme {
    color: #fff;
    background: #315377;
    text-decoration: none
}

.products-slider-seemore{
    margin-top: 50px;
    text-align: center;
}

.btn.btn-outline-theme {
    color: #315377;
    border-color: #315377;
    text-decoration: none
}

.btn.btn-outline-theme:hover{
    background: #31537760;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.slider02 .product-slider-item .right-col, .slider02 .product-slider-item .left-col{
    display: inline-block;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slider02 .product-slider-item .background{
    position: absolute;
    left: 50px;
    bottom: 50px;
    width: calc(100% - 100px);
    z-index: -1;
    color: transparent;
    opacity: 0.2;
    /* font-size: 100px; */
    -webkit-text-stroke: 1px #4677AB;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    line-height: 0.8;
    white-space: nowrap;
}

.slider02{
    height: 500px;
    position: relative; 
    perspective: 1000px;
    transform-style: preserve-3d;
    margin-bottom: 20px;
}
.slider02 label{
    margin: auto;
    width: 60%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
}


/* Active Slide */
#s1_1:checked ~ #slide1_1,
 #s1_2:checked ~ #slide1_2,
  #s1_3:checked ~ #slide1_3,
   #s1_4:checked ~ #slide1_4,
    #s1_5:checked ~ #slide1_5 {
  box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
  transform: translate3d(0%, 0, 0px);
}

/* Next Slide */
#s1_1:checked ~ #slide1_2,
 #s1_2:checked ~ #slide1_3,
  #s1_3:checked ~ #slide1_4,
   #s1_4:checked ~ #slide1_5,
    #s1_5:checked ~ #slide1_1 {
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  transform: translate3d(20%, 0, -100px);
}


/* Next to Next Slide */
#s1_1:checked ~ #slide1_3,
 #s1_2:checked ~ #slide1_4,
  #s1_3:checked ~ #slide1_5,
   #s1_4:checked ~ #slide1_1,
    #s1_5:checked ~ #slide1_2 {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  transform: translate3d(40%, 0, -250px);
}

/* Previous to Previous Slide */
#s1_1:checked ~ #slide1_4,
 #s1_2:checked ~ #slide1_5,
  #s1_3:checked ~ #slide1_1,
   #s1_4:checked ~ #slide1_2,
    #s1_5:checked ~ #slide1_3 {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  transform: translate3d(-40%, 0, -250px);
}

/* Previous Slide */
#s1_1:checked ~ #slide1_5,
 #s1_2:checked ~ #slide1_1,
  #s1_3:checked ~ #slide1_2,
   #s1_4:checked ~ #slide1_3,
    #s1_5:checked ~ #slide1_4 {
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  transform: translate3d(-20%, 0, -100px);
}
.products-slider-container01 .products-slider-prev,
.products-slider-container01 .products-slider-next
{
    display: inline-block;
    position: absolute;
    right: calc(100% + 20px);
    top: 85px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    font-size: 0px;
    outline: none;
    background: #BACEE3 url(https://quatvietnam.com.vn/wp-content/themes/asiavina/assets/images/arrow.png) no-repeat center center;
    z-index: 999;
    cursor: pointer;
}

.products-slider-container01 .products-slider-prev {
    right: auto;
    /* left: 20px; */
    left: calc(45% - 570px);
    top: 275px;
}

.products-slider-container01 .products-slider-next {
    /* right: 20px; */
    right: calc(45% - 570px);
    left: auto;
    top: 275px;
}


.products-slider-container01 .products-slider-next {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}