/* ========= INFORMATION ============================
	- document:  WP Coder!
	- author:    Dmytro Lobov 
	- url:       https://wow-estore.com/
==================================================== */
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn.btn-theme {
    color: #fff;
    background: #315377;
    text-decoration: none
}

.products-slider-seemore{
    margin-top: 50px;
    text-align: right;
}

.btn.btn-outline-theme {
    color: #315377;
    border-color: #315377;
    text-decoration: none
}

.btn.btn-outline-theme:hover{
    background: #31537760;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}